@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li.slick-active button:before {
  color: #881798;
}

.App > div {
  background-color: red;
  background-color: #fff;
  color: #fff;
  color: #3498db;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  color: #881798;
}

.slick-prev:before,
.slick-next:before {
  color: #881798;
}
